<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo File Uploads</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Add a dare</h1>
    
    <button id="addToRounds" onclick="addToDB()">Get user</button>

    <button id="hasSubmitted" onclick="submit()">Toggle submitted</button>
    <button id="hasNotSubmitted" onclick="notSubmit()">Toggle has not submitted</button>
    
	<script src="bitch.js"></script>
  </body>
</html>